.carousel-container {
  background: linear-gradient(to bottom right, rgb(255, 255, 255), #c1b3b3);
}

.topics-header{
  font-family :Georgia, 'Times New Roman', Times, serif
}
.light1 {
    background: linear-gradient(to bottom, #e3dbfa, #e7e5ec);
  color: black;
}
.light2 {
  background : linear-gradient(to bottom , #f7d7ee , #f2e8ef);
  color: black;
}

.light3 {
  background: linear-gradient(to bottom ,  #bfefe2 , #e5f1ef);
  color: black;
}

.light4 {
  background: linear-gradient(to bottom ,  #AFA7BB  , #d2ced6);
    color: black;
}

.light5 {
  background-color: #d77e67;
}

.active-class{
    border-bottom: yellow 2px solid;
}

.topic-card{
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.topic-card:hover{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 2);
}
