@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500&family=Lato:wght@300;400;700&family=Mukta:wght@200;300;500&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&family=Roboto:wght@300;400&display=swap");

.body-background {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#f6f6fe 1.35px, #e5e5f7 1.35px);
  background-size: 27px 27px;
  /* font-family: 'Afacad', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
}
.top-banner {
  background-image: url(../assets/navbackGround.png);
  background-color: #4fb3d4;
  background-size: 300px;
  color: white;
  line-height: normal;
  letter-spacing: 2px;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .container-1 {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
}

.getStarted {
  line-height: 40px;
  color: white !important;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.getStarted span {
  position: relative;
  z-index: 2;
}

.getStarted:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #26174e;
  transition: all 0.35s;
}

.getStarted:hover {
  color: #fff;
}

.getStarted:hover:after {
  width: 100%;
}

.arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 5px;
  animation: arrow 4s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
