@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Poppins:wght@200&family=Roboto&display=swap");

.navbar {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.lightBg {
  background-color: #e5e5f7;
}

.darkBg {
  background-color: #0e2954;
}

.drop-down-container {
  font-family: "Roboto", sans-serif;
}
.logo:hover{
  color: #ffffff;
  background: black;
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
  color: #ffffff;
  background: black;
}
